<app-home-look></app-home-look>
<div class='container my-5'>
  <app-title-svg></app-title-svg>
  <app-title-bar [data]="aboutData.title"></app-title-bar>
  <p class="title-font shivam-color font-weight-bold px-5 pt-3 m-0" [innerHTML]="aboutData.objectiveText"></p>
  <app-band></app-band>
  <div class="mx-5">
    <app-connect></app-connect>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <a [routerLink]="['/main']" class="my-2">
      <button type="button" class="btn btn-primary btn-lg shivam-bg">Explore More</button>
    </a>
    <a [routerLink]="['/instafeed']" class="my-2">
      <button type="button" class="btn btn-primary btn-lg shivam-bg">Jump to InstaFeed</button>
    </a>
  </div>
</div>