.footer-main{
    border-top: 4px solid;
    font-size:18px;
    border-top-right-radius:30px;
    border-top-left-radius:30px;
}

.collapse{
    border-top: 4px solid #fff;
    background-color: #fff; 
}
