<footer class='footer-class container'>
  <div class="footer-main shivam-border-color shivam-bg text-white text-center py-3" data-toggle="collapse"
    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <div class="collapse shivam-color  my-1 font-weight-bold" id="collapseExample">
      Designed with ❤️ by <span class='text-danger font-weight-bolder'>Shivam Kumar Giri</span> in Angular
      <img src="/assets/angular-icon.svg" height='30px'>
    </div>
    <div class='px-1'>
      <i>
        &quot; A good programmer is someone who always looks both ways before crossing a one-way street. &quot;
        <br>
      </i><b>- Doug Linder</b>
    </div>
  </div>
</footer>