.progress {
  height: 50px;
  position: absolute;
  transform: skewX(-18deg);
  z-index: 1;
}

.rect {
  height: 50px;
  margin-left: -1rem;
  position: absolute;
  z-index: 1;
}

.progress-right {
  height: 50px;
  position: absolute;
  transform: skewX(18deg);
  z-index: 1;
}

.title-text {
  z-index: 5;
}