.anchor-image {
  display: block;
  position: absolute;
  right: 10px;
  z-index: 100;
}

.tab-elements {
  visibility: hidden;
}

.anchor-href:hover {
  font-weight: 700;
}

.anchor-href {
  font-weight: 500;
}

.close-button {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  height: 30px;
  width: 30px;
}

.link-button {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 40px;
}

.tab-button:focus {
  box-shadow: none;
  outline: none;
}