<app-home-look></app-home-look>
<div class="blogs p-5 container"><app-title-bar id="welcome" data='WELCOME TO MY BLOG'></app-title-bar>
    
    <div class="collapse-blogs" id="1">
        <button class="btn collapsing-button w-100" type="button" data-toggle="collapse" data-target="#collapse-1"
            aria-expanded="false" aria-controls="collapse-1">
            #1 OVERLAY
        </button>
        <div class="collapse" id="collapse-1">
            <div class="card card-body">
                <iframe width="320" height="460" src="http://instagram.com/p/CYQIbQ8Bnqy/embed" frameborder="0"></iframe>
                Overlay Example-1
                <iframe height="300" style="width: 100%;" scrolling="no" title="Div OverLay"
                    src="https://codepen.io/shivam-kumar-giri/embed/gOGeBPw?default-tab=html%2Cresult" frameborder="no"
                    loading="lazy" allowtransparency="true" allowfullscreen="true">
                    See the Pen <a href="https://codepen.io/shivam-kumar-giri/pen/gOGeBPw">
                        Div OverLay</a> by Shivam Kumar Giri (<a
                        href="https://codepen.io/shivam-kumar-giri">@shivam-kumar-giri</a>)
                    on <a href="https://codepen.io">CodePen</a>.
                </iframe>
                Overlay Example-2
                <iframe height="300" style="width: 100%;" scrolling="no" title="Input Overlay"
                    src="https://codepen.io/shivam-kumar-giri/embed/LYzdgrp?default-tab=html%2Cresult" frameborder="no"
                    loading="lazy" allowtransparency="true" allowfullscreen="true">
                    See the Pen <a href="https://codepen.io/shivam-kumar-giri/pen/LYzdgrp">
                        Input Overlay</a> by Shivam Kumar Giri (<a
                        href="https://codepen.io/shivam-kumar-giri">@shivam-kumar-giri</a>)
                    on <a href="https://codepen.io">CodePen</a>.
                </iframe>
                <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
            </div>
        </div>
    </div>
</div>
<div class="px-5 mx-5">
    <app-connect></app-connect>
</div>