<app-home-look></app-home-look>
<div class="blogs p-5 container">
    <app-title-bar id="welcome" data='WELCOME TO MY BLOG'></app-title-bar>
    <div class="collapse-blogs" id="1">
        <button class="btn collapsing-button w-100" type="button" data-toggle="collapse" data-target="#collapse-1"
            aria-expanded="false" aria-controls="collapse-1">
            #1 OVERLAY
        </button>
        <div class="collapse" id="collapse-1">
            <div class="card card-body">
                <span class="d-flex px-2 py-3">Open Instagram Link here. &nbsp;
                    <a target="_blank" href="http://instagram.com/p/CYQIbQ8Bnqy/">
                        <img height="30px" src="/assets/instagram-logo.svg" />
                    </a>
                </span>
                Overlay Example-1
                <iframe height="300" style="width: 100%;" scrolling="no" title="Div OverLay"
                    src="https://codepen.io/shivam-kumar-giri/embed/gOGeBPw?default-tab=html%2Cresult" frameborder="no"
                    loading="lazy" allowtransparency="true" allowfullscreen="true">
                    See the Pen <a href="https://codepen.io/shivam-kumar-giri/pen/gOGeBPw">
                        Div OverLay</a> by Shivam Kumar Giri (<a
                        href="https://codepen.io/shivam-kumar-giri">@shivam-kumar-giri</a>)
                    on <a href="https://codepen.io">CodePen</a>.
                </iframe>
                Overlay Example-2
                <iframe height="300" style="width: 100%;" scrolling="no" title="Input Overlay"
                    src="https://codepen.io/shivam-kumar-giri/embed/LYzdgrp?default-tab=html%2Cresult" frameborder="no"
                    loading="lazy" allowtransparency="true" allowfullscreen="true">
                    See the Pen <a href="https://codepen.io/shivam-kumar-giri/pen/LYzdgrp">
                        Input Overlay</a> by Shivam Kumar Giri (<a
                        href="https://codepen.io/shivam-kumar-giri">@shivam-kumar-giri</a>)
                    on <a href="https://codepen.io">CodePen</a>.
                </iframe>
            </div>
        </div>
    </div>
    <div class="collapse-blogs" id="2">
        <button class="btn collapsing-button w-100" type="button" data-toggle="collapse" data-target="#collapse-2"
            aria-expanded="false" aria-controls="collapse-2">
            #2 GUESS THE OUTPUT
        </button>
        <div class="collapse" id="collapse-2">
            <div class="card card-body">
                <span class="d-flex px-2 py-3">Open Instagram Link here. &nbsp;
                    <a href="https://www.instagram.com/p/CYZKPShBJhv/" target="_blank">
                    </a>
                    <img src="/assets/instagram-logo.svg" height="30px" />
                </span>
                <span class="d-flex p-2">The final Output is <b class="shivam-color">&nbsp; 81</b>. Full Video
                    Description is here.
                </span>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="100%" height="100%"
                        src="https://www.youtube.com/embed/qVb0Lf8DZvY" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mx-5">
    <app-connect></app-connect>
    <div class="d-flex justify-content-center">
        <a [routerLink]="['/']" class="my-2">
            <button type="button" class="btn btn-primary btn-lg shivam-bg">Explore More</button>
        </a>
    </div>
</div>