.link-button {
    border-bottom: 1px solid;

    &:hover {
        border: 1px solid;
        transform: scale(1.03);
    }
}

.wrapper {
    border-left: 6px solid;

    .content-wrapper {
        border-bottom: 3px solid;
        border-image: linear-gradient(to right, #002060 10%, #FFF 90%) 100% 1;
    }
}